@model Dto.account.Register
@{
    ViewData["Title"] = "ساخت حساب کاربری";
}

<div class="container">
    <!--* card -->
    <section class="mx-auto mt-5 mt-lg-4 pt-5 pt-lg-0 card-register-form">
        <section class="card mx-auto p-5">
            <!--* title card -->
            <section class="card-title">
                <h3> ثبت نام در سایت </h3>
                <h6> لطفا در کامل کردن اطلاعات خود دقت فرماید </h6>
            </section>
            <hr>
            <!--* body card -->
            <section class="card-body">
                <form action="#" method="get">
                    <div class="row">
                        <section class="col-12 col-sm-6">
                            <input class="cusotm-form-controle" type="text" placeholder="نام">
                        </section>
                        <section class="col-12 col-sm-6">
                            <input class="cusotm-form-controle" type="text" placeholder="نام خانوادگی">
                        </section>
                        <section class="col-12 col-sm-6">
                            <input class="cusotm-form-controle" type="text" placeholder="شماره تماس">
                        </section>
                        <section class="col-12 col-sm-6">
                            <input class="cusotm-form-controle" type="file" placeholder="اواتار">
                        </section>
                        <section class="col-12 col-sm-6">
                            <input class="cusotm-form-controle" type="password" placeholder="تکرار رمز عبور">
                        </section>
                        <section class="col-12 col-sm-6">
                            <input class="cusotm-form-controle" type="password" placeholder="رمز عبور">
                        </section>
                    </div>
                    <input class="btn btn-custom w-100 mt-3" type="submit" value="ورود">
                </form>
            </section>
        </section>
    </section>
</div>