@model PC.Dto.Psychologist.TypeOfConsultation.CreateTypeOfConsultation
@{
    ViewData["Title"] = " : افزودن نوع جدید";
}
<section class="container-fluid pe-sm-4">
    @if (ViewData["Message"] != null)
    {
        <!-- print error -->
        <div class="toast-container position-fixed bottom-0 end-0 p-3"><div class="toast fade show border border-info" role="alert" aria-live="assertive" aria-atomic="true"><div class="toast-header border-info"><strong class="me-auto text-info"> نتیجه </strong><button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button></div><div class="toast-body">@ViewData["Message"]</div></div></div>
    }
    <!-- create question -->
    <form asp-controller="Psychologists" asp-action="CreateTypeOfConsultation" method="post">
        <input type="hidden" asp-for="CreatedAt" value="@ViewData["Time"]" />
        <section class="row align-items-end">
            <section class="col-12 col-md-6">
                <label asp-for="Name"></label>
                <input class="cusotm-form-controle" asp-for="Name">
                <span asp-validation-for="Name"></span>
            </section>
            <section class="col-12 col-md-6">
                <label asp-for="Price"></label>
                <input class="cusotm-form-controle" asp-for="Price">
                <span asp-validation-for="Price"></span>
            </section>
            <section class="col-3 mt-4">
                <button class="btn btn-custom px-3"> افزودن </button>
                <a class="btn btn-outline-primary ms-3" asp-action="TypeOfConsultation">
                    بازگشت
                </a>
            </section>
        </section>
    </form>
</section>
@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}