@model Dto.Patient.PatientTurn.PatientTurnViewModel
@{
    ViewData["Title"] = "خانه";
}
<div class="container">
    <!--* card -->
    <section class="float-sm-end mx-auto my-3 mt-lg-4 pt-lg-0 card-visit-form">
        <section class="card mx-auto mx-md-0 p-2 py-4 p-md-5">
            <!--* title card -->
            <section class="card-title">
                <h3> برای دریافت نوبت اینترنتی فرم را تکمیل کنید </h3>
                <h6> لطفا در کامل کردن اطلاعات خود دقت فرماید </h6>
            </section>
            <hr>
            <!--* body card -->
            @if (ViewData["Psychologist"] != null)
            {
                if (ViewData["TypeOfConsultation"] != null)
                {
                    <section class="card-body">
                        <form action="#" method="get">
                            <input class="cusotm-form-controle" type="text" placeholder="نام و نام خانوادگی">
                            <input class="cusotm-form-controle" type="text" placeholder="شماره تماس">
                            <select class="selectMy cusotm-form-controle" asp-for="PsychologistWorkingDateAndTimeViewModel.PsychologistViewModel.Id" asp-items="@((SelectList)ViewData["Psychologist"])" onchange="Visite(this)">
                                <option value="null">
                                    روانشناس خود را انتخاب کنید
                                </option>
                            </select>
                            <select class="selectMy cusotm-form-controle" asp-for="PsychologistWorkingDateAndTimeViewModel.PsychologistViewModel.Id" asp-items="@((SelectList)ViewData["TypeOfConsultation"])">
                                <option value="null">
                                    نوع مشاوره
                                </option>
                            </select>
                            <input type="text" class="cusotm-form-controle ConsultationDay" asp-for="ConsultationDay" />
                            <section class="d-flex flex-wrap" id="viewTimeVisit">
                            </section>
                            <input class="btn btn-custom w-100 mt-3" type="submit" value="ثبت ویزیت">
                        </form>
                    </section>
                }
                else
                {
                    <span class="text-bg-info">
                        اطلاعاتی از نوع جلسه ویزیت موجود نیست
                    </span>
                }
            }
            else
            {
                <span class="text-bg-info">
                    اطلاعاتی از روانشناس موجود نیست
                </span>
            }
        </section>
    </section>
</div>
@section ImageIndexUi
    {
    <img src="/assets/imageTemplate/doctor.png" class="ui-image-user d-none d-md-block" alt="image body in ui" title="Ui Body">
}

@section Scripts
    {
    <script>
        $(".selectMy").select2();
    </script>
    <script src="/assets/js/VisitHandel.js"></script>
}

