@{
    ViewData["Title"] = "خانه";
}
<div class="container">
    <!--* card -->
    <section class="float-sm-end mx-auto my-3 mt-lg-4 pt-lg-0 card-visit-form">
        <section class="card mx-auto mx-md-0 p-2 py-4 p-md-5">
            <!--* title card -->
            <section class="card-title">
                <h3> قالب روانشاسی </h3>
                <h6> لطفا در کامل کردن اطلاعات خود دقت فرماید </h6>
            </section>
        </section>
    </section>
</div>
@section ImageIndexUi
    {
    <img src="/assets/imageTemplate/doctor.png" class="ui-image-user d-none d-md-block" alt="image body in ui" title="Ui Body">
}

@section Scripts
    {
    <script>
        $(".selectMy").select2();
    </script>
  }

