@model PC.Dto.Patient.PatientTurn.PatientTurnViewModel
@{
    ViewData["Title"] = "خانه";
}
<div class="container">
    <!--* card -->
    <section class="float-sm-end mx-auto my-3 mt-lg-4 pt-lg-0 card-visit-form">
        <section class="card mx-auto mx-md-0 p-2 py-4 p-md-5">
            <!--* title card -->
            <section class="card-title">
                <h3> برای دریافت نوبت اینترنتی فرم را تکمیل کنید </h3>
                <h6> لطفا در کامل کردن اطلاعات خود دقت فرماید </h6>
            </section>
            <hr>
            <!--* body card -->
            @if (ViewData["TypeOfConsultation"] != null)
            {
                <form asp-controller="Home" asp-action="SetVisit" id="FormSetVisit" onsubmit="FormSetVisit()" method="post">
                    <section class="card-body">
                        <input class="cusotm-form-controle" name="Name" id="Name" type="text" placeholder="نام و نام خانوادگی">
                        <input class="cusotm-form-controle" name="Phone" id="Phone" type="text" placeholder="شماره تماس">
                        <input type="text" class="cusotm-form-controle ConsultationDay" name="DateTimeVisit" id="DateTimeVisit" onchange="GetTimesVisit()" />
                        <select class="selectMy cusotm-form-controle" name="TypeOfConsultationId" id="TypeOfConsultationId" asp-items="@((SelectList)ViewData["TypeOfConsultation"])" onchange="GetPsychologist(this)">
                            <option value="null">
                                نوع مشاوره
                            </option>
                        </select>
                        <section id="viewListPsychologist"></section>
                        <section class="d-flex flex-wrap" id="viewTimeVisit"></section>
                        <button class="btn btn-custom w-100 mt-3" type="button" onclick="SetVisit()"> ثبت ویزیت </button>
                    </section>
                </form>
            }
            else
            {
                <span class="text-bg-info p-3 rounded">
                    اطلاعاتی از نوع جلسه ویزیت موجود نیست
                </span>
            }
        </section>
    </section>
</div>
@section ImageIndexUi
{
    <img src="/assets/imageTemplate/doctor.png" class="ui-image-user d-none d-md-block" alt="image body in ui" title="Ui Body">
}

@section Scripts
{
    <script>
        $(".selectMy").select2();
    </script>
    <script src="/assets/js/VisitHandel.js"></script>
}

