<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css bootstrap rtl -->
    <link href="/assets/css/cdn.jsdelivr.net_npm_bootstrap@5.3.2_dist_css_bootstrap.rtl.min.css" rel="stylesheet">
    <!--? select js -->
    <link href="/assets/css/select2.min.css" rel="stylesheet" />
    <!-- sweet alert css -->
    <link href="/assets/css/sweetalert2.min.css" rel="stylesheet" />
    <!-- Swiper -->
    <link href="/assets/css/swiper-bundle.min.css" rel="stylesheet" />
    <!-- my style -->
    <link rel="stylesheet" href="/assets/css/style.css" asp-append-version="true">
    <!-- title -->
    <title>@ViewData["Title"] - روان شناس من</title>
</head>

<body dir="rtl" data-bs-theme="dark">
    @RenderSection("ImageIndexUi", false)
    <!--? start Header -->
    <header>
        <section>
            <nav dir="ltr" class="navbar navbar-expand-lg bg-transparen">
                <div class="container py-3">
                    <a class="navbar-brand" href="#"><img src="/assets/imageTemplate/logo.svg" alt="Logo" title="logo"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas offcanvas-start bg-parent rounded-end" tabindex="-1" id="offcanvasNavbar"
                         aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                                <a class="navbar-brand" href="#">
                                    <img src="/assets/imageTemplate/logo.svg" alt="Logo"
                                         title="logo">
                                </a>
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body align-items-center justify-content-around" dir="rtl">
                            <ul class="navbar-nav p-3 mb-2 mb-lg-0 px-3">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                <path d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z" />
                                                <path d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z" />
                                            </svg>
                                            خانه
                                        </span>
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                             stroke-width="1.5" stroke="currentColor" class="w-6 h-6 d-lg-none">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Tests" asp-action="Index">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                            <path fill-rule="evenodd" d="M7.502 6h7.128A3.375 3.375 0 0118 9.375v9.375a3 3 0 003-3V6.108c0-1.505-1.125-2.811-2.664-2.94a48.972 48.972 0 00-.673-.05A3 3 0 0015 1.5h-1.5a3 3 0 00-2.663 1.618c-.225.015-.45.032-.673.05C8.662 3.295 7.554 4.542 7.502 6zM13.5 3A1.5 1.5 0 0012 4.5h4.5A1.5 1.5 0 0015 3h-1.5z" clip-rule="evenodd" />
                                            <path fill-rule="evenodd" d="M3 9.375C3 8.339 3.84 7.5 4.875 7.5h9.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-9.75A1.875 1.875 0 013 20.625V9.375zM6 12a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V12zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75zM6 15a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V15zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75zM6 18a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V18zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75z" clip-rule="evenodd" />
                                        </svg>
                                        آزمون ها
                                    </a>
                                </li>
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-action="JoinTheTeam">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
                                            </svg>
                                            پیوستن به کادر
                                        </a>
                                    </li>
                                }
                                <li class="nav-item">
                                    <a asp-controller="Home" asp-action="Article" class="nav-link">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                            <path fill-rule="evenodd" d="M4.125 3C3.089 3 2.25 3.84 2.25 4.875V18a3 3 0 003 3h15a3 3 0 01-3-3V4.875C17.25 3.839 16.41 3 15.375 3H4.125zM12 9.75a.75.75 0 000 1.5h1.5a.75.75 0 000-1.5H12zm-.75-2.25a.75.75 0 01.75-.75h1.5a.75.75 0 010 1.5H12a.75.75 0 01-.75-.75zM6 12.75a.75.75 0 000 1.5h7.5a.75.75 0 000-1.5H6zm-.75 3.75a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5H6a.75.75 0 01-.75-.75zM6 6.75a.75.75 0 00-.75.75v3c0 .414.336.75.75.75h3a.75.75 0 00.75-.75v-3A.75.75 0 009 6.75H6z" clip-rule="evenodd" />
                                            <path d="M18.75 6.75h1.875c.621 0 1.125.504 1.125 1.125V18a1.5 1.5 0 01-3 0V6.75z" />
                                        </svg>
                                        مقالات
                                    </a>
                                </li>
                            </ul>
                            <section class="d-flex align-items-center justify-content-center">
                                <partial name="_AutchHeader" />
                            </section>
                        </div>
                    </div>
                </div>
            </nav>
        </section>
    </header>
    <!--? end Header -->
    <!--? start Main -->
    <main>
        @RenderBody()
    </main>
    <!--? end Main -->
    <!-- script bootstrap -->
    <script src="/assets/js/cdn.jsdelivr.net_npm_bootstrap@5.3.2_dist_js_bootstrap.bundle.min.js"></script>
    <!--? Jquery -->
    <script src="/assets/js/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- date picker -->
    <link rel="stylesheet"
          href="/assets/css/persian-datepicker.css" />
    @* <script src="/assets/js/jquery-2.2.4.min.js"></script> *@
    <script src="/assets/js/persian-date.js"></script>
    <script src="/assets/js/persian-datepicker.js"></script>
    <!-- Swiper -->
    <script src="/assets/js/swiper-bundle.min.js"></script>
    <script>

        $(document).ready(function () {
            $('.ConsultationDay').persianDatepicker({
                altField: '.ConsultationDay',
                altFormat: 'YYYY/MM/DD',
                titleFormat: 'yyyy',
                minDate: new persianDate().toDate(),
                autoClose: true,
                show: false
            });

            var swiper = new Swiper(".mySwiper_question", {
                grabCursor: true,
                effect: "creative",
                creativeEffect: {
                    prev: {
                        shadow: false,
                        translate: [0, 0, -400],
                    },
                    next: {
                        translate: ["100%", 0, 0],
                    },
                },
                pagination: {
                    el: ".swiper-pagination",
                    type: "fraction",
                },
                navigation: {
                    nextEl: ".next",
                    prevEl: ".prev",
                },
            });

        });
    </script>
    <!--? select js -->
    <script src="/assets/js/select2.min.js"></script>
    <!-- sweet alert css -->
    <script src="/assets/js/sweetalert2.all.min.js"></script>
    <!-- my script -->
    <script src="/assets/js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>