@model PC.Dto.User.ChangePassword
@{
    ViewData["Title"] = "تغییر رمز عبور";
}
<div class="container">
    <partial name="_RenderMessage" model='new RenderMessage(){TextMessage=ViewData["ErrorMessage"] as string}' />
    <!--* card -->
    <section class="mx-auto mt-5 mt-lg-4 pt-5 pt-lg-0 card-login-form">
        <section class="card mx-auto p-5">
            <!--* title card -->
            <section class="card-title">
                <h3> تغییر رمز عبور </h3>
                <h6> لطفا در کامل کردن اطلاعات خود دقت فرماید </h6>
            </section>
            <hr>
            <!--* body card -->
            <section class="card-body">
                <form asp-controller="Profile" asp-action="ChangePassword" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" class="d-none" asp-for="Id" value="@ViewData["UserId"]"/>
                    <!-- Password -->
                    <input class="cusotm-form-controle" asp-for="Password" placeholder="رمز فعلی">
                    <span class="text-info" asp-validation-for="Password"></span>
                    <!-- New Password -->
                    <input class="cusotm-form-controle" asp-for="NewPassword" placeholder="رمز جدید">
                    <span class="text-info" asp-validation-for="NewPassword"></span>
                    <!-- Confirm New Password -->
                    <input class="cusotm-form-controle" asp-for="ConfirmNewPassword" placeholder="تکرار رمز جدید">
                    <span class="text-info" asp-validation-for="ConfirmNewPassword"></span>
                    <!-- Btn Submit -->
                    <button class="btn btn-custom w-100 mt-3" type="submit">
                        تغییر
                    </button>
                </form>
            </section>
        </section>
    </section>
</div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
