@model PC.Dto.Psychologist.PsychologistAboutUs.CreatePsychologistAboutUs
@{
    ViewData["Title"] = "افزودن درباره من";
}
<section class="container row pt-4 mt-5 pt-md-2 mt-md-3 mx-auto px-0 px-md-2">
    <aside class="col-11 col-md-3 mx-auto mx-md-0">
        <partial name="_NavbarProfile" />
    </aside>
    @* @User.FindFirst("Token") *@
    <section class="col-11 col-md-9 mx-auto mx-md-0 mt-3 mt-md-0 px-0 px-md-2">
        <!--* card -->
        <section class="card mx-auto pt-5 pb-3 card-profile-form">
            <!--* title card -->
            <section class="card-title">
                <h3>
                    درباره من
                </h3>
            </section>
            <hr>
            <!--* body card -->
            <section class="card-body px-0">
                <form asp-action="CreateAboutUs" class="container-fluid">
                    <input type="hidden" asp-for="PsychologistId" />
                    <input type="hidden" asp-for="CreatedAt" value="@ViewBag.DateTime" />
                    <section class="row">
                        <section class="col-7">
                            <label asp-for="Title" class="mb-2"></label>
                            <input class="cusotm-form-controle mx-auto" placeholder="نام" asp-for="Title" type="text">
                        </section>
                        <section class="col-12">
                            <label asp-for="TextAbout" class="mb-2"></label>
                            <textarea asp-for="TextAbout" class="cusotm-form-controle" rows="7"></textarea>
                            <span class="text-info" asp-validation-for="TextAbout"></span>
                        </section>
                    </section>
                    <button class="btn btn-custom w-100 mt-3" type="submit"> ثبت اطلاعات </button>
                </form>
            </section>
        </section>
    </section>
</section>
@section Scripts
{
    <partial name="_NICEditor" />
    <partial name="_ValidationScriptsPartial" />
}
