<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css bootstrap rtl -->
    <link href="/assets/css/cdn.jsdelivr.net_npm_bootstrap@5.3.2_dist_css_bootstrap.rtl.min.css" rel="stylesheet">
    <!--? select js -->
    <link href="/assets/css/select2.min.css" rel="stylesheet" />
    <!--? sweet alert (css) -->
    <link href="
https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css
" rel="stylesheet">
    <!-- my style -->
    <link rel="stylesheet" href="/assets/css/styleAdmin.css" asp-append-version="true">

    <!-- title -->
    <title> روان شناس من - پنل مدیریت @ViewData["Title"] </title>
</head>

<body dir="rtl" data-bs-theme="dark">
    <!--? start Header -->
    <header>
        <section>
            <nav dir="ltr" class="navbar bg-transparen">
                <div class="container py-3 justify-content-end">
                    <button class="navbar-toggler d-sm-none" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="my_offcanvas offcanvas offcanvas-start bg-parent rounded-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" aria-modal="true" role="dialog">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                                <a class="navbar-brand" href="#">
                                    <img src="/assets/imageTemplate/logo.svg" alt="Logo"
                                         title="logo">
                                </a>
                            </h5>
                            <button type="button" class="btn-close d-sm-none" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body align-items-center justify-content-around" dir="rtl">
                            <ul class="navbar-nav p-3 mb-2 mb-lg-0 px-3">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                <path d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z" />
                                                <path d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z" />
                                            </svg>
                                            خانه
                                        </span>
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                             stroke-width="1.5" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Admin" asp-controller="Tests" asp-action="Index">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                            <path fill-rule="evenodd" d="M7.502 6h7.128A3.375 3.375 0 0118 9.375v9.375a3 3 0 003-3V6.108c0-1.505-1.125-2.811-2.664-2.94a48.972 48.972 0 00-.673-.05A3 3 0 0015 1.5h-1.5a3 3 0 00-2.663 1.618c-.225.015-.45.032-.673.05C8.662 3.295 7.554 4.542 7.502 6zM13.5 3A1.5 1.5 0 0012 4.5h4.5A1.5 1.5 0 0015 3h-1.5z" clip-rule="evenodd" />
                                            <path fill-rule="evenodd" d="M3 9.375C3 8.339 3.84 7.5 4.875 7.5h9.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-9.75A1.875 1.875 0 013 20.625V9.375zM6 12a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V12zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75zM6 15a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V15zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75zM6 18a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V18zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75z" clip-rule="evenodd" />
                                        </svg>

                                        آزمون ها
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Admin" asp-controller="Users" asp-action="Index">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                            <path d="M4.5 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM14.25 8.625a3.375 3.375 0 116.75 0 3.375 3.375 0 01-6.75 0zM1.5 19.125a7.125 7.125 0 0114.25 0v.003l-.001.119a.75.75 0 01-.363.63 13.067 13.067 0 01-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 01-.364-.63l-.001-.122zM17.25 19.128l-.001.144a2.25 2.25 0 01-.233.96 10.088 10.088 0 005.06-1.01.75.75 0 00.42-.643 4.875 4.875 0 00-6.957-4.611 8.586 8.586 0 011.71 5.157v.003z" />
                                        </svg>
                                        کاربران
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="CreatePsy" asp-action="Index">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                            <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm11.378-3.917c-.89-.777-2.366-.777-3.255 0a.75.75 0 01-.988-1.129c1.454-1.272 3.776-1.272 5.23 0 1.513 1.324 1.513 3.518 0 4.842a3.75 3.75 0 01-.837.552c-.676.328-1.028.774-1.028 1.152v.75a.75.75 0 01-1.5 0v-.75c0-1.279 1.06-2.107 1.875-2.502.182-.088.351-.199.503-.331.83-.727.83-1.857 0-2.584zM12 18a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd" />
                                        </svg>
                                        افزودن مشاور
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                            <path fill-rule="evenodd" d="M4.125 3C3.089 3 2.25 3.84 2.25 4.875V18a3 3 0 003 3h15a3 3 0 01-3-3V4.875C17.25 3.839 16.41 3 15.375 3H4.125zM12 9.75a.75.75 0 000 1.5h1.5a.75.75 0 000-1.5H12zm-.75-2.25a.75.75 0 01.75-.75h1.5a.75.75 0 010 1.5H12a.75.75 0 01-.75-.75zM6 12.75a.75.75 0 000 1.5h7.5a.75.75 0 000-1.5H6zm-.75 3.75a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5H6a.75.75 0 01-.75-.75zM6 6.75a.75.75 0 00-.75.75v3c0 .414.336.75.75.75h3a.75.75 0 00.75-.75v-3A.75.75 0 009 6.75H6z" clip-rule="evenodd" />
                                            <path d="M18.75 6.75h1.875c.621 0 1.125.504 1.125 1.125V18a1.5 1.5 0 01-3 0V6.75z" />
                                        </svg>
                                        مقالات
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="36" preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36" width="36"><path d="m18 2a16 16 0 1 0 16 16 16 16 0 0 0 -16-16zm.06 17.68a1.28 1.28 0 0 1 -1.29-1.28v-9.75a1.29 1.29 0 0 1 2.58 0v9.75a1.28 1.28 0 0 1 -1.29 1.28zm-.06 8.11a9.88 9.88 0 0 1 -5.83-17.94 1.4 1.4 0 0 1 1.94.31 1.37 1.37 0 0 1 -.31 1.92 7.18 7.18 0 1 0 11.43 5.8 7.07 7.07 0 0 0 -3-5.76 1.37 1.37 0 0 1 -.23-1.92 1.4 1.4 0 0 1 1.94-.29 9.88 9.88 0 0 1 -5.94 17.88z" /><path d="m0 0h36v36h-36z" fill="none" /></svg>
                                        خروج
                                    </a>
                                </li>
                            </ul>
                            <section class="d-flex align-items-center justify-content-center">
                                <partial name="_AutchHeader" />
                            </section>
                        </div>
                    </div>
                </div>
            </nav>
        </section>
    </header>
    <!--? end Header -->
    <!--? start Main -->
    <main class="overflow-x-hidden">
        <section class="container row justify-content-sm-start col-10 pe-0 ps-sm-5 float-end">
            @RenderBody()
        </section>
    </main>
    <!--? end Main -->
    <!-- script bootstrap -->
    <script src="/assets/js/cdn.jsdelivr.net_npm_bootstrap@5.3.2_dist_js_bootstrap.bundle.min.js"></script>
    <!--? Jquery -->
    <script src="/assets/js/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
    <!--? select js -->
    <script src="/assets/js/select2.min.js"></script>
    <!--? sweet alert (js) -->
    <script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js
"></script>
    <!-- my script -->
    <script src="/assets/js/main.js" asp-append-version="true"></script>
    <!-- Render Scripts -->
    @await RenderSectionAsync("Scripts", required: false)
</body>

