<section class="container mb-3">
    <section class="position-relative parent_progress_create_test">
        <div class="progress" role="progressbar" aria-label="Default striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped" style="width: @ViewBag.ProgressCreateTest%"></div>
        </div>
        <section class="progress_create_test"> ثبت ازمون </section>
        <section class="progress_create_test"> ثبت سولات </section>
        <section class="progress_create_test"> اتمام کار </section>
    </section>
</section>